body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #343434;
}
div, input, textarea, a, button {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
h1 {
  font-size: 25px;
  color: #fff;
}
.section-chat {
  background: #fff;
}
.panel {
  border: 1px solid;
}
.panel-heading {
  background: #20203cd4;
  padding: 15px;
}
#chatbox {
  text-align:left;
  padding:20px;
  background:#fff;
  height:500px;
  border:1px solid #ACD8F0;
  overflow:auto;
}
.panel-send {
  background: #20203cd4;
  padding: 5px 0;
  align-items: center;
  justify-content: space-between;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.panel-send textarea {
  width: 85%;
  resize: none;
  border-radius: 25px;
  outline: none;
  padding: 10px 5px 0 10px;
}
.icon {
  color: #fff;
  font-size: 23px;
  margin: 0 20px;
  cursor: pointer;
}
.btn-send {
  background: transparent;
  border: none;
}
.btn-send:focus {
  outline: none;
}
/*message box*/
.message {
  display: table;
  background: #46465d;
  border-radius: 30px;
  color: #fff;
  padding: 5px 10px;
  margin-left: 10px;
  margin: 8px 8px 8px 35px;
  min-width: 80px;
}
.msg-box__avatar {
  position: relative;
}
.msg-box__avatar img {
  position: absolute;
  top: -45px;
  left: -65px;
  width: 100%;
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 50px;
}
.msg_time {
  text-align: end;
  display: block;
  color: #ccc;
  font-size: 11px
}
ul .items:nth-child(even) {
  justify-content: flex-end;
  display: flex;
}
.items .message ~ .msg-box__avatar :nth-child(even) {
  order: 1;
}


